@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p> This project is about showing how to configure Response Compression for .NET Apps</p>
    <p>You can access to the full repository on <a href="https://github.com/rogercodesblog/EnablingResponseCompression" target="_blank" rel="noreferer noopener">Github</a> </p>
    <p>Here is an example on how much bandwith is saved with compression on, in Comparison to not having it</p>
    <h2>Compression Enabled:</h2>
    <img src="~/img/CompressionEnabled.png" />
    <h2>Compression Disabled:</h2>
    <img src="/img/CompressionDisabled.png" />
</div>
